#current-forcast-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width:50%;
    aspect-ratio: 1/1;
    border:none;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.699); 
    background-color:rgb(41, 54, 95);
}

#current-forcast-container #info {
    display: inline-flex;
    justify-content: space-around;
}

span, p {
    color:white;
}

#search-bar {
    display: inline-flex;
    width:90%;
    height:10%;
}

#search-bar > input {
    width:90%;
    height:100%;
    border:none;
    border-radius:5px 0 0 5px;
    background-color: whitesmoke;
    padding-left: 5%;
}

#search-bar > button {
    width:10%;
    height:100%;
    border:none;
    background-color: rgb(9, 25, 54);
    border-radius: 0 5px 5px 0;
}

#temp_c-img {
    content: url("../img/temp_c.png");
    width:20px;
    height:20px;
}

#wind_speed-img {
    content: url("../img/wind.png");
    width:20px;
    height:20px;
}

#humidity-img {
    content: url("../img/humidity.png");
    width:20px;
    height:20px;
}

#uv-img {
    content: url("../img/uv.png");
    width:20px;
    height:20px;
}

#location-img {
    content: url("../img/location.png");
    width:20px;
    height:20px;
}