:root {
    --bg-current-color1: #ffffff86;
    --bg-current-color2: #ffffff00;
    --current-shadow: 0px 5px 10px #64808286;
    --current-size:40vw;
    --bg-current-angle: 0deg;
    --background-current-gradient: linear-gradient(var(--bg-current-angle), var(--bg-current-color1), var(--bg-current-color2));
}

#current-forcast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width:var(--current-size);
    height:var(--current-size);
    border:solid var(--bg-current-color1) 1px;
    border-radius: 10px;
    box-shadow: var(--current-shadow); 
    background:var(--background-current-gradient);
    padding:calc(var(--current-size)*0.05);
    gap:calc(var(--current-size)*0.05);
}

#current-forcast-container > img {
    width:calc(var(--current-size)*0.3);
    height:calc(var(--current-size)*0.3);
}

#location-display {
    margin: 0;
}

#current-forcast-container #info {
    display: inline-flex;
    justify-content: space-around;
    width:var(--current-size);
    gap:10%;
}

#current-forcast-container #info > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5%;
}

span, p {
    width:calc(var(--current-size)*0.9);
    height:calc(var(--current-size)*0.1);
    color:white;
    font-size:100%;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5%;
}

#search-bar {
    display: inline-flex;
    width:calc(var(--current-size)*0.9);
    height:10%;
}

#search-bar > input {
    width:90%;
    height:100%;
    border:none;
    border-radius:5px 0 0 5px;
    background-color: whitesmoke;
    padding-left: 5%;
}

#search-bar > button {
    width:10%;
    height:100%;
    border:none;
    background-color:var(--bg-current-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
}

#temp_c-img {
    content: url("../img/temp_c.png");
    width:20px;
    height:20px;
}

#wind_speed-img {
    content: url("../img/wind.png");
    width:20px;
    height:20px;
}

#humidity-img {
    content: url("../img/humidity.png");
    width:20px;
    height:20px;
}

#uv-img {
    content: url("../img/uv.png");
    width:20px;
    height:20px;
}

#location-img {
    content: url("../img/location.png");
    width:20px;
    height:20px;
}

#search-img {
    content: url("../img/search.png");
    width:20px;
    height:20px;
    align-self: center;
}

@media (max-width:390px) {
    #current-forcast-container {
        flex-direction: column;
        width:calc(var(--current-size) * 1.5);
        height:calc(var(--current-size) * 1.5);
        padding:calc(var(--current-size)*0.05*1.5);
        gap:calc(var(--current-size)*0.05*1.5);
    }

    span, p {
        width:calc(var(--current-size)*0.9*1.5);
        height:calc(var(--current-size)*0.1*1.5);
    }

    #search-bar {
        display: inline-flex;
        width:calc(var(--current-size)*0.9*1.5);
    }

    #current-forcast-container > img {
        width:calc(var(--current-size)*0.3*1.5);
        height:calc(var(--current-size)*0.3*1.5);
    }

    #current-forcast-container #info {
        display: inline-flex;
        justify-content: space-around;
        width:calc(var(--current-size)*1.5);
        gap:10%;
    }

    #search-img {
        width:10px;
        height:10px;
    }
}

@media (max-width:600px) {
    #current-forcast-container {
        flex-direction: column;
        width:calc(var(--current-size) * 1.5);
        height:calc(var(--current-size) * 1.5);
        padding:calc(var(--current-size)*0.05*1.5);
        gap:calc(var(--current-size)*0.05*1.5);
    }

    span, p {
        width:calc(var(--current-size)*0.9*1.5);
        height:calc(var(--current-size)*0.1*1.5);
    }

    #search-bar {
        display: inline-flex;
        width:calc(var(--current-size)*0.9*1.5);
    }

    #current-forcast-container > img {
        width:calc(var(--current-size)*0.3*1.5);
        height:calc(var(--current-size)*0.3*1.5);
    }

    #current-forcast-container #info {
        display: inline-flex;
        justify-content: space-around;
        width:calc(var(--current-size)*1.5);
        gap:10%;
    }

    #search-img {
        width:15px;
        height:15px;
    }
}